body {
    background: #F7E1B2;
    font-size: 180%;
    color: #241305;
    font-family: Georgia, 'Times New Roman', serif;
}

p {
    margin-left: auto;
    margin-right: auto;
    margin: 5px auto;
    text-align: center;
}

#data-container {
    margin-top: 5px;
}

h1 {
    text-align: center;
    text-decoration: 3px underline;
}

button {
    position: absolute;
    left: 25px; 
    font-size: 50px;
    background-color: #A69C94;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(246, 174, 174);
}