h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    font-size: 3em;
}

button {
    align-content: center;
    font-size: 3em;
    padding: 5px 30px;
}

p {
    text-align: center;
}

label {
    font-size: 3em;
}

#dice, #d20 {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 8px;
    padding: 0; /* VERY IMPORTANT: stops size from changing */
}

#d20 {
    width: 150px;
    height: 150px;

    justify-content: center;
    align-items: center;

    border: 3px solid black;
    border-radius: 8px;

    font-size: 3em;
    background: white;

    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0; /* VERY IMPORTANT: stops size from changing */
}
