body {
    color: #111;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    font-size: 3em;
}

button {
    align-content: center;
    font-size: 3em;
    padding: 5px 30px;
    border-radius: 8px;
    display: flex;
}

button:hover {
    background-color: #b1b1b1;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#checkdata {
    margin-left: auto;
    margin-right: auto;
    margin: 5px auto;
    display: none;
}

p {
    text-align: center;
}

label {
    font-size: 3em;
}

.dices {
    display: flex;
    justify-content: center;  /* centers both columns horizontally */
    gap: 100px;               /* space between the two dice columns */
    margin-top: 40px;
    align-items: center;
    margin-left: 300px;
}

.column {
    display: flex;
    flex-direction: column;   /* stack image + button vertically */
    align-items: center;      /* center elements horizontally */
    gap: 20px;                /* space between box and button */
}

#dice {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#d20 {
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 8px;
    font-size: 3em;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

#d20roll {
    visibility: hidden;
}

#case5 {
    visibility: hidden;
}

.dark {
    background: #081018;
    color: #e6f3f2
}

#jumpscare {
    visibility: hidden;
    position: absolute;     /* stays in place */
    top: 0;
    left: 0;
    justify-content: center;
    width: 100vw;        /* full width (equivalent to the width of monitor)*/
    height: 100vh;       /* full height (equivalent to the height of monitor)*/
    object-fit: cover;   /* keeps aspect ratio while filling */
    z-index: 9999;       /* in front of everything */
    pointer-events: none; /* so it doesn't block clicking buttons */
}